.heroSection {
  padding-top: 105px;
}

.overlay {
  background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    url(../../../public/hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
