@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --white-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: normal;
  color: var(--white-color);
}

address {
  font-style: normal;
}

.section-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.agree-checkbox:checked + .custom-checkbox > .custom-checkbox__inner {
  background-color: #fff;
}
